*,
* ::after,
* ::before {
  box-sizing: border-box;

}

:root {
  --white-color: #F9F9F9;
  --yellow-color: #FFE0AC;
  --pink-color: #FFACB7;
  --blue-color: #6886C5;
}

* {
  margin: 0%;
}

body {
  max-width: 1600px;
  min-width: 1160px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.header-block {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-position: center;
  background-image: url(images/background.jpg);
  background-size: cover;
  height: 500px;
  color: var(--blue-color);
  padding-top: 100px;
  padding-left: 900px;
  line-height: 4rem;
}

.catalog-cont {
  display: inline-block;
  padding: 50px 100px 30px 28px;
  margin-right: 600px;
  background-color: var(--white-color);
 
}
.catalog-cont > h2{
  color: #768076;
}
.catalog-cont > h3{
  color: #768076;
 
}
.catalog-cont > h4{
  color: #768076;
}
.catalog-cont > p{

  color: var(--blue-color);
}
.catalog-cont > img {
  width: 260px;
  height:260px;
 
  display: inline;
}
.catalog-cont > button{
  background-color:var(--blue-color);
    border-radius: 100px;
    color: var(--pink-color);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  margin: 10px;
}
.catalog-cont > button:hover{
  box-shadow: rgb(30,144,255) 0 -25px 18px -14px inset,rgb(30,144,255) 0 1px 2px,rgb(30,144,255) 0 2px 4px,rgb(30,144,255) 0 4px 8px,rgb(30,144,255) 0 8px 16px,rgb(30,144,255) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
.hidden-text{
  display: none;
}
.hidden-text-vis{
  display: block;
}
.btn-show{
  background-color: aquamarine;
  height: 800px;
}



 